@import '../../../node_modules/antd/dist/antd.less';

body
{
    .topbar{
        position: absolute;
        left: 20px;
        top: 20px;
        z-index: 2;
    }
    #allmap{
        z-index: 1;
    }
    .searchBox{
        width:200px;
        transition-duration: .4s;
    }
    .searchBox:hover,
    .searchBox:focus,
    .searchBox:active{
        width: 500px;
    }
}
